body{
    background-image: url(image/7.jpg);
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: lightblue;
}
 #quiz_wrapper{
	height: 95%;
	width: 140%;
	padding: 1%;
	background-color: lightcyan;
	margin-top: 5%;
	margin-left: 50%;
	border-radius: 8px;
	position: absolute;
	left: -13em;
	right: 1%;
}
#quiz_wrapper #question{
	margin-bottom: 80%;
	min-height: 10px;
	background-color:pink;
	border-radius: 8px;
	color: black;
	font-size: 18px;
	float: left;
	width: 100%;/* key */
	height: 15%;/* key */
	text-align: center;
}

#quiz_wrapper .options{  /* Not performing */
float: left;
width: 40%;
height: 5%;
	}

#quiz_wrapper .options ul{
	top: 24%;
	position: absolute;
	list-style-type: none;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	outline: none;
	float: left;
	font-weight: 600;
	left: -1%;
	}	

	#quiz_wrapper .options ul li{
		display: inline-block;
			background-color:lightblue;
			width: 180%;
			padding: 10px;
			border-radius: 8px;
			font-size: 15px;
			margin-top: 20px;
			margin:15%;
			color:black;
			box-shadow: 0px 3px 0px grey;
			cursor: pointer;
		}
		#quiz_wrapper .options ul li:hover{
			background-color: green;
		}
		#quiz_wrapper .options ul li:active{
			box-shadow: 0px 0px 0px greenyellow;
		}

		.button{
			float: right;
			border-radius: 25px;
			background-color: #13b3cfcc;
			border: none;
			color: black;
			text-align: center;
			font-size: 20px;
			padding: 13px;
			width: 195px;
			transition: all 0.5s;
			cursor: pointer;
			margin-top: 120%;
			outline: none;
			position: absolute;
			top:25%;
			font-weight: 700;
			
		  }
		  
		  .button span {
			cursor: pointer;
			display: inline-block;
			position: relative;
			transition: 0.5s;
			font-family: Impact 'Arial Narrow Bold', sans-serif;
			outline: none;
		  }
		  
		  .button span:after {
			content: '>>';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -20px;
			transition: 0.5s;
		  }
		  
		  .button:hover span {
			padding-right: 25px;
		  }
		  
		  .button:hover span:after {
			opacity: 1;
			right: 0;
		  }
		  h5{ 
			font-weight: 50%; 
			font-size: 25px; 
			margin: 50px 0px 20px; 
			float: left;
			position: absolute;
			top: 24em;
			color: black;
			border-radius:8px;
			background-color:lightskyblue;
			position: absolute;
			right: -4em;
			top: 3%;
		
		  } 
		 
		   #clockdiv{ 
			  font-family: sans-serif; 
			  color:black; 
			  font-weight: 50%; 
			  text-align: left; 
			  font-size: 20px; 
			 position: relative;   
			 top: -18em;
			 left: 14.5em;
			right: -45px;
			 bottom: 80em;
			 padding-right: -5%;
		
		  } 
		  #clockdiv  div{ 
			  padding: 2px; 
			  border-radius:8px; /* 15px 50px 30px 5px */
		  } 
		  #clockdiv div  span{ 
			  padding: 2px; 
			  border-radius:8px; /* 15px 50px 30px 5px */
			  background-color: skyblue; 
		  } 
		  /*Timer design ends here*/
		  #watch{
			  position: absolute;
			  right: -20%;
			  background-color:skyblue;
			  border-radius: 8%;
		  }
		 
		 