body{
    background-image: url(image/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0.6;
    filter: alpha(opacity=40);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
   max-width: 100%;
   max-height: 100%;
   background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
  background-color: lightblue;
 }
  body:hover{
    opacity: 1;
    filter: alpha(opacity=100);
}
#rulesBody{
    margin-top: -5%;
     margin-right: 20%;
     margin-left: 40%;
     max-height: 80%;
     padding: 100%;
    }
#message3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 150%;
}

#message{
    width: 350px;
    padding: 2px;
    border: 25px;
    margin: 25px;
    margin-right: -20%;
    position: absolute;
    right: 35%;
    background-color:#F0F8FF;
    border-radius: 8px;
    box-shadow: 10px 10px black;
   top: -2%;
  }
  #message1{
  text-align: center;
  font-family: cursive;
  font-weight: bolder;
  text-shadow: 0 0 3px pink;
  }
  #message2{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }
  .message3{
  font-family:'Times New Roman', serif;
  font-size: larger;
  color: black;
  }
  
  #exit-button {
    position: absolute;
    background-color: #4CAF50;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 15px;
    width: 130px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    top: 90%;
    border-radius: 8px;
    right: 100%;
  }
  
  #exit-button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
  }                          
  
  #exit-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }