<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.01, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/rules.css' %}">
    <title>Instructions page</title>
    
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    {% if user.is_authenticated %}
    <div class="card-footer text-muted" id="bottomDesign">
      <button class="button"  id="begin" style="vertical-align:middle"><a href="javascript:{document.getElementById('logout').submit()}"><span>Logout</span></a></button>
     </div> 
    <form method='POST' action="{%url 'logout'%}" id='logout'>
        {%csrf_token%}
        <input type='hidden'/>
    </form>
    {%endif%}
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="message">
        <h4 class="alert-heading" id="message1">Welcome to NIMELSSA Online Quiz</h4>
         <h6 id="message2">RULES AND REGULATIONS</h6>
         <ul class="message3">
             <li>The Quiz session starts by 9:00PM and ends 9:30PM,every Friday.</li>
             <li>There are twenty questions per session.Each question carries a point (+1).</li>
             <li>You have 20 seconds to answer each question.</li>
             <li>The format of the questions is best option.</li>
             <li>Multiple enteries will be annuled.</li>
             <li>The winner will be participant with speed and accurate answers.</li>
             <li>Summary of the answers will be provided after the quiz session ends.</li>
          </ul>
          <a href="quiz.html" class="btn btn-primary">Proceed To Quiz</a>
      </div>

          
         
      
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      </body>
</html>